
.body {
  background-color:lightgrey;
}



#jumbo {
  margin: 0px;
}

.wrapper {

}

.brand-logo {
  max-height: 200px;
  max-width: 200px;
  color: black;

}

.home {
  /* position: relative; */
  margin: 0px 0px 0px 0px;
  padding: 0%;
  height: 600px;
  width: 100%;
  background-image: url('../images/tmt-raleigh.jpg');
  background-position-y: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  position: relative;
  color: white;
  margin-top: 12%;
}
.export_img {
  width: 20px;
  height: 20px;
}

