
.body {
  background: #eeeeee;
}

.border-bottom {
  border-bottom: black;
}

nav .container-fluid {
  max-width: 80%;
}

#jumbo {
  margin: 0px;
}

fieldset {
  background-color: white;
}

.brand-logo {
  max-height: 200px;
  max-width: 200px;
  color: black;
}

.home {
  /* position: relative; */
  margin: 0px 0px 0px 0px;
  padding: 0%;
  height: 600px;
  width: 100%;
  background-image: url('../images/tmt-raleigh.jpg');
  background-position-y: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  position: relative;
  color: white;
  margin-top: 12%;
}
.export_img {
  width: 20px;
  height: 20px;
}

.user-form-section {
  background-color: white;
  margin: 50px 25px 50px 25px;
  padding: 25px;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}