
.body {
  background: #eeeeee;
}

.border-bottom {
  border-bottom: black;
}

.container-fluid {
  max-width: 100%;
}

.home-page {
  max-width: 100%;
}

#jumbo {
  margin: 0px;
}

fieldset {
  background-color: white;
}

.brand-logo {
  max-height: 200px;
  max-width: 200px;
  color: black;
}

.home {
  /* position: relative; */
  margin: 0px 0px 0px 0px;
  padding: 0%;
  height: 600px;
  width: 100%;
  background-image: url('../images/tmt-raleigh.jpg');
  background-position-y: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  position: relative;
  color: white;
  margin-top: 12%;
}

.user-form-section {
  background-color: white;
  margin: 50px 25px 50px 25px;
  padding: 25px;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}


/* New Hire Page */

.whitespace {
  margin-top: 25px;
}
.newhire-container {
  background-color: white;
  margin: 25px 25px 25px 0px;
  padding: 5px 25px 5px 15px;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.newhire-img {
  height: 40px;
  width: 40px;
}

.newhire-metadata {
  margin-top: 7.5px;
}

.collapse-icon {
  cursor: pointer;
}

.newhire-line {
  margin-top: 0px;
}

.newhire-header {
  font-size: 24px;
}

.newhire-info {
  margin-top: 15px;
  margin-bottom: 10px;
}

.newhire-info-header {
  font-weight: 300;
}


/* Petty Cash Page */

.container-pettycash {
  max-width: 93%;
}

.form-row {
  width: 100%;
}

.pettycash-form {
  background-color: white;
  margin: 0px 0px 50px 0px;
  padding: 25px;
  border: 1px solid #cacaca;
  border-radius: 3px;
  font-size: 14px;
  width: 110%;
}

.pettycash-form legend {
  font-size: 18px;
}

.pettycash-table {
  margin: 0px 0px 0px 20px;
}

.pettycash-table thead th {
  height: 5px;
  vertical-align: middle;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
}

thead {
  background-color: white;
}

.pettycash-table .table-border {
  border-right: 2px solid #eeeeee;
}

.pettycash-entry td {
  border-right: 2px solid #eeeeee;
}

th.date, th.amount_deposited, th.amount_withdrawn, th.received_by, th.approved_by {
  width: 10%;
}

th.receipt_no {
  width: 9%;
}

th.description {
  width: 20%;
}

.export_img {
  margin: 35px 0px 0px 20px;
  width: 40px;
  height: 40px;
  display: inline;
}