
.body {
  background: #eeeeee;
}

.border-bottom {
  border-bottom: black;
}

.container-fluid {
  max-width: 80%;
}

.home-page {
  max-width: 100%;
}

#jumbo {
  margin: 0px;
}

fieldset {
  background-color: white;
}

.brand-logo {
  max-height: 200px;
  max-width: 200px;
  color: black;
}

.home {
  /* position: relative; */
  margin: 0px 0px 0px 0px;
  padding: 0%;
  height: 600px;
  width: 100%;
  background-image: url('../images/tmt-raleigh.jpg');
  background-position-y: 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  position: relative;
  color: white;
  margin-top: 12%;
}
.export_img {
  width: 20px;
  height: 20px;
}

.user-form-section {
  background-color: white;
  margin: 50px 25px 50px 25px;
  padding: 25px;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.whitespace {
  margin-top: 25px;
}
.newhire-container {
  background-color: white;
  margin: 25px 25px 25px 0px;
  padding: 5px 25px 5px 15px;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.newhire-img {
  height: 40px;
  width: 40px;
}

.newhire-metadata {
  margin-top: 7.5px;
}

.collapse-icon {
  cursor: pointer;
}

.newhire-line {
  margin-top: 0px;
}

.newhire-header {
  font-size: 24px;
}

.newhire-info {
  margin-top: 15px;
  margin-bottom: 10px;
}

.newhire-info-header {
  font-weight: 300;
}

.pettycash-form {
  background-color: white;
  margin: 50px 0px 50px 25px;
  padding: 25px;
  border: 1px solid #cacaca;
  border-radius: 3px;

}