{% extends "layout.html" %}
{% block content %}
  
<div class="container-fluid home-page">
  <div class="row">
    <div class="home text-center">
      <div class="home-text">
        <h1>Two Men and a Truck</h1>
        <h2> Team Wilson</h2>
        <br>
      </div>
    </div>
   
  
    
    
    <footer class="footer" style="text-align:center;padding: 0.5%;">
      <span class="bottom">Two Men and a Truck - Team Wilson</span>
      <br>
    </footer>
  
  </div>
</div>
  

{% endblock content %}

