{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 whitespace">
        {% for new_hire in new_hires %}
          <article class="media newhire-container">
            <img class="rounded-circle newhire-img" src="{{ url_for('static', filename='users/profile_pics/' + new_hire.user.image_file) }}">
            <div class="media-body">
              <div class="float-left newhire-metadata">
                <a class="mr-2" href="#">{{ new_hire.user.username }}</a>
                <small class="text-muted">{{ new_hire.date_entered.strftime('%Y-%m-%d') }}</small>
              </div>
              <div class="float-right collapse-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrows-collapse" data-toggle="collapse" href="#newhire-info-{{ new_hire.id }}" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"/>
                </svg>
              </div>              
              <div class="clearfix"></div>
              <hr class="newhire-line">
              <div id="newhire-panel-{{ new_hire.id }}">
                <div class="float-left"><h3 class="newhire-header">{{ new_hire.first_name }} {{ new_hire.last_name }}</a></h3></div>
                <div class="float-right"><h3 class="newhire-header">{{ new_hire.position }}</a></h3></div>
                <div class="clearfix"></div>                           
                <div id="newhire-info-{{ new_hire.id }}" class="newhire-info collapse">               
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="newhire-info-header">Hire Date</h5>
                      <h5>{{ new_hire.hire_date }}</h5>
                      <br>
                      <h5 class="newhire-info-header">Start Date</h5>
                      <h5>{{ new_hire.start_date }}</h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="newhire-info-header">Pay Rate</h5>
                      <h5>{{ new_hire.pay_rate }}</h5>
                      <br>
                      <h5 class="newhire-info-header">Wisely Number</h5>
                      <h5>{{ new_hire.wisely_no }}</h5>
                    </div>
                  </div>
                  <script type="text/javascript" src="static/js/new-hires.js"></script>
                  <script>
                    CollapseNewHire('#newhire-panel-{{ new_hire.id }}', '#newhire-info-{{ new_hire.id }}')
                  </script>
                </div>
              </div> 
            </div>
          </article>
        {% endfor %}
        <a role="button" class="btn btn-secondary" href="{{ url_for('enter_new_hire') }}">Enter New Hire</a>
      </div>
    </div>
  </div>
  
  
  
{% endblock content %}
