{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid container-newhires">
    <div class="row justify-content-between">
      <div class="col-md-6 whitespace">
        {% for new_hire in new_hires %}
          <article class="media newhire-container">
            <img class="rounded-circle newhire-img" src="{{ url_for('static', filename='users/profile_pics/' + new_hire.user.image_file) }}">
            <div class="media-body">
              <div class="float-left newhire-metadata">
                <a class="mr-2" href="#">{{ new_hire.user.username }}</a>
                <small class="text-muted">{{ new_hire.date_entered.strftime('%Y-%m-%d') }}</small>
              </div>
              <div class="float-right">
                <a type='button' class="newhire-checkmark" data-toggle="modal" data-target="#deleteNewHire">✓</a>
              </div>              
              <div class="clearfix"></div>
              <hr class="newhire-line">
              <div id="newhire-panel-{{ new_hire.id }}" class="newhire-panel">
                <div class="float-left"><h3 class="newhire-header">{{ new_hire.first_name }} {{ new_hire.last_name }}</a></h3></div>
                <div class="float-right"><h3 class="newhire-header">{{ new_hire.position }}</a></h3></div>
                <div class="clearfix"></div>                           
                <div id="newhire-info-{{ new_hire.id }}" class="newhire-info collapse">               
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="newhire-info-header">Hire Date</h5>
                      <h5>{{ new_hire.hire_date }}</h5>
                      <br>
                      <h5 class="newhire-info-header">Start Date</h5>
                      <h5>{{ new_hire.start_date }}</h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="newhire-info-header">Pay Rate</h5>
                      <h5>{{ new_hire.pay_rate }}</h5>
                      <br>
                      <h5 class="newhire-info-header">Wisely Number</h5>
                      <h5>{{ new_hire.wisely_no }}</h5>
                    </div>
                  </div>
                  <script type="text/javascript" src="static/js/new-hires.js"></script>
                  <script>
                    CollapseNewHire('#newhire-panel-{{ new_hire.id }}', '#newhire-info-{{ new_hire.id }}')
                  </script>
                </div>
              </div> 
            </div>
          </article>
          <div class="modal fade" id="deleteNewHire" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Continue?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>This will remove the new hire from the list.</p>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <form action="{{ url_for('delete_new_hire', newhire_id=new_hire.id) }}" method="POST">
                    <input class="btn btn-success" type="submit" value="Continue">
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      
      </div>
      <div class="col-md-5">
        <div class="newhire-settings">
          <h4 class="float-left">New Hires</h4>
          <a role="button" class="btn btn-secondary btn-sm float-right" href="{{ url_for('enter_new_hire') }}">Enter New Hire</a>
          <div class="clearfix"></div>
          <hr>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <div class="form-group">
                {{ form.from_date.label() }}                
                {{ form.from_date(class="form-control form-control-lg datepicker") }}
              </div>
              <div class="form-group">
                {{ form.to_date.label() }}                
                {{ form.to_date(class="form-control form-control-lg datepicker") }}                
              </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info float-left") }}
              <button id="clear-filter" class="btn btn-outline-danger float-right">Clear filter</button>
              <script>
                $(document).ready(function() {
                  $('#clear-filter').on('click', function() {
                    $('#from_date').val('');
                    $('#to_date').val('');
                  });
                });
              </script>
              <div class="clearfix"></div>
            </div>
          </form>

          <hr>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  
  
  
{% endblock content %}
