{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid">
    
    <div class=row-md-6>
      <br>
      <h1 class="text-center">Petty Cash</h1>

      <!-- <p> Enter Transactions</p>
      {% for form in form_data %}
      <p> {{form.date}} </p>
      {% endfor %} -->

      <!-- <p>{{form}}</p> -->
      <br><br><br>  
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 my-auto" style="margin-left: 10%;">
        <form id="filterTrans" class="form-inline justify-content-center">
          <!-- <div class='col-md-8 list-group-item'></div> -->
          <div class="form-group">
            <label class="control-label filter-space">From</label>
            <input id="fromDate" type="text" class="form-control datepicker filter-space">
          </div>
          <div class="form-group">
            <label class="control-label filter-space">To</label>
            <input id="toDate" type="text" class="form-control datepicker filter-space">
          </div>
          
          <button type='submit' class="btn btn-primary btn-md filter-btn export_img">Filter</button>
          
            
          
          
        </form>
      </div>
      <div class="col-md-1" style='margin-right: 1%;'>
        <a href="/download">
          <img class="export_img" src="static/images/export_excel.png">
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="pettycash-form">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">New Hire</legend>
              <div class="form-group">
                {{ form.date.label() }}
                {% if form.date.errors %}
                  {{ form.date(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.date(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.receipt_no.label() }}
                {% if form.receipt_no.errors %}
                  {{ form.receipt_no(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.receipt_no.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.receipt_no(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.description.label() }}
                {% if form.description.errors %}
                  {{ form.description(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.amount_deposited.label() }}
                {% if form.amount_deposited.errors %}
                  {{ form.amount_deposited(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.amount_deposited.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.amount_deposited(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.amount_withdrawn.label() }}
                {% if form.amount_withdrawn.errors %}
                  {{ form.amount_withdrawn(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.amount_withdrawn.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.amount_withdrawn(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.received_by.label() }}
                {% if form.received_by.errors %}
                  {{ form.received_by(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.received_by.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.received_by(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.approved_by.label() }}
                {% if form.approved_by.errors %}
                  {{ form.approved_by(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.approved_by.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.approved_by(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.comments.label() }}
                {% if form.comments.errors %}
                  {{ form.comments(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.comments.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.comments(class="form-control form-control-lg") }}
                {% endif %}
              </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
          </form>
          <p class style=>* Required field</p>
        </div>        
      </div>

      <div class="col-md-9">
        <div id="table-area" class="">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <col width="10%">
                <col width="10%">
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="20%">
                <th class="table-head">Date</th>
                <th class="table-head">Receipt #</th>
                <th class="table-head">Description</th>
                <th class="table-head">Amount Deposited</th>
                <th class="table-head">Amount Withdrawn</th>
                <th class="table-head">Received By</th>
                <th class="table-head">Approved By</th>
                <th class="table-head">Comments</th>
              </tr>
            </thead>
            <tbody id='tbody'></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
     

                  
                  
             

      
  

{% endblock content %}
