{% extends "layout.html" %}
{% block content %}

  <div class="container-fluid">
    
    <div class=row-md-6>
      <br>
      <h1 class="text-center">Petty Cash</h1>

      <br><br><br>  
    </div>
  </div>


  <div class="container-fluid container-pettycash">
    <div class="row justify-content-between">
      <div class="col-md-8 offset-md-3">
        <form id="filterExp">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Start Date</label>
              <input id="fromDate" type="text" class="form-control datepicker">
            </div>
            <div class="form-group col-md-2">
              <label>End Date</label>
              <input id="toDate" type="text" class="form-control datepicker">
            </div>
            <div class="form-group">
              <label for="">&nbsp;</label>
              <button class="form-control btn btn-outline-secondary">Filter</button>
            </div>
          </div>
        </form>
      </div>
        
      <div class="col-md-1">
        <a href="/download">
          <img class="export_img" src="static/images/export_excel.png">
        </a> 
      </div>
      
    </div>
    <hr>  
  </div>      
  
  

  <div class="container-fluid container-pettycash">
    <div class="row">
      <div class="col-md-2">
        <div class="pettycash-form">
          <form id="form" method="POST" action="">
            {{ form.hidden_tag() }}
            <div id="csrf_token-error" class="text-danger my-2"></div>
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Enter Transaction</legend>
              <div class="form-group">
                {{ form.date.label() }}
                {{ form.date(class="form-control form-control-lg") }}
                <div id="date-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.receipt_no.label() }}
                {{ form.receipt_no(class="form-control form-control-lg") }}
                <div id="receipt_no-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.description.label() }}
                {{ form.description(class="form-control form-control-lg") }}
                <div id="description-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.amount_deposited.label() }}
                {{ form.amount_deposited(class="form-control form-control-lg") }}
                <div id="amount_deposited-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.amount_withdrawn.label() }}
                {{ form.amount_withdrawn(class="form-control form-control-lg") }}
                <div id="amount_withdrawn-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.received_by.label() }}
                {{ form.received_by(class="form-control form-control-lg") }}
                <div id="received_by-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.approved_by.label() }}
                {{ form.approved_by(class="form-control form-control-lg") }}
                <div id="approved_by-error" class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                {{ form.comments.label() }}
                {{ form.comments(class="form-control form-control-lg") }}
                <div id="comments-error" class="invalid-feedback"></div>
              </div>
            </fieldset>
            <!-- <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div> -->
            <input type="submit" value="Submit">
          </form>
          <p class="test" style=>* Required field</p>
        </div>        
      </div>

      <script>
        $(document).ready(function() {
          var rowIndex = 0;
          $('form').submit(function(event) {
            rowIndex = rowIndex + 1;
            var url = "{{ url_for('petty_cash_submit') }}";
            $.ajax({
              type: "POST",
              url: url,
              data: $('form').serialize()
            })
            .done(function(data) {
              // if form is not validated, show error messages
              if (data.errors) {
                Object.entries(data.errors).forEach(function([key, value]) {
                  id = "#" + key;
                  errorId = "#" + key + "-error";
                  console.log(errorId);
                  $(id).addClass("is-invalid");
                  $(errorId).html("<span>" + value + "</span>")
                });
              }
              // if form is validated, add table row
              else {
                var tbody = $('#tbody');
                var row = $(`<tr id="${data.id}">`);

                Object.entries(data).slice(0, 8).forEach(function([key, value], index) {
                  if (value === null) {
                    var cell = ('<td></td>');
                  }
                  else {
                    // dynamically create id with form field name
                    var cell = (`<td id="${key}" contenteditable="True">${value}</td>`);
                  };
                  row.append(cell);       
                });
                $(row).addClass("pettycash-entry")
                tbody.append(row);

                // when value in table is changed, do another AJAX call to update in database
                $('td').on('blur', function() {
                  expenseId = $(this).parent('tr').attr('id');
                  field = $(this).attr('id');
                  value = $(this).text();
                  $.ajax({
                    type: "POST",
                    url: "{{ url_for('petty_cash_table_change') }}",
                    data: {
                      id: expenseId,
                      field: field,
                      value: value
                    }
                  })
                  .done(function(data) {
                    console.log(data);
                  })
                });    
              };
            });

            event.preventDefault();

          });

          // Inject CSRF token
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
          });
        });        
      </script>
      
      <div class="col-md-10">
        <div class="pettycash-table">
          <table class="table table-striped table-hover">
            <thead style="margin-bottom: 100px;">
              <tr>
                <th class="date">Date</th>
                <th class="receipt_no table-border">Receipt Number</th>
                <th class="description table-border">Description</th>
                <th class="amount_deposited table-border">Amount Deposited</th>
                <th class="amount_withdrawn table-border">Amount Withdrawn</th>
                <th class="received_by table-border">Received By</th>
                <th class="approved_by table-border">Approved By</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody id='tbody'></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

                  
                  
             

      
  

{% endblock content %}
